In [ ]:
#Lab | Cross Validation
#For this lab, we will build a model on customer churn binary classification problem. 
#You will be using files_for_lab/Customer-Churn.csv file.

#Instructions

#1. Apply SMOTE for upsampling the data:

    #Use logistic regression to fit the model and compute the accuracy of the model.
    #Use decision tree classifier to fit the model and compute the accuracy of the model.
    #Compare the accuracies of the two models.

#2. Apply TomekLinks for downsampling

    #It is important to remember that it does not make the two classes equal 
    #but only removes the points from the majority class that are close to other points in minority class.
    #Use logistic regression to fit the model and compute the accuracy of the model.
    #Use decision tree classifier to fit the model and compute the accuracy of the model.
    #Compare the accuracies of the two models.
    #You can also apply this algorithm one more time and check the how the imbalance in the two classes 
    #changed from the last time.

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks

In [4]:
churndata=pd.read_csv(r'C:\Users\TOSHIBA\Downloads\Ironhack\Activities\Activities Python\Databases\Customer-Churn.csv')
churndata.columns=[c.lower() for c in churndata.columns]
churndata

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,monthlycharges,totalcharges,churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [6]:
churndata.dtypes

gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [7]:
#Validamos nulos para pasar totalcharges a numerico
churndata['totalcharges']= pd.to_numeric(churndata['totalcharges'],errors='coerce')
churndata.dtypes

gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
monthlycharges      float64
totalcharges        float64
churn                object
dtype: object

In [9]:
churndata.isnull().sum()

gender               0
seniorcitizen        0
partner              0
dependents           0
tenure               0
phoneservice         0
onlinesecurity       0
onlinebackup         0
deviceprotection     0
techsupport          0
streamingtv          0
streamingmovies      0
contract             0
monthlycharges       0
totalcharges        11
churn                0
dtype: int64

In [10]:
#Rellenamos nulos con la media
churndata['totalcharges'] = churndata['totalcharges'].fillna(np.mean(churndata['totalcharges']))

In [11]:
churndata.isnull().sum()

gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [12]:
#Separamos la data categorica para hacer label enconding
churndata_cat=churndata.select_dtypes(include=["object"])

In [13]:
#Vamos a tratar los datos categoricos
from sklearn import preprocessing
labels=churndata_cat.apply(preprocessing.LabelEncoder().fit_transform)
labels

,gender,partner,dependents,phoneservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,churn
0,0,1,0,0,0,2,0,0,0,0,0,0
1,1,0,0,1,2,0,2,0,0,0,1,0
2,1,0,0,1,2,2,0,0,0,0,0,1
3,1,0,0,0,2,0,2,2,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,1,1,1,2,0,2,2,2,2,1,0
7039,0,1,1,1,0,2,2,0,2,2,1,0
7040,0,1,1,0,2,0,0,0,0,0,0,0
7041,1,1,0,1,0,0,0,0,0,0,0,1
7042,1,0,0,1,2,0,2,2,2,2,2,0

In [14]:
#Separamos la data numerica para hacer normalizarla
churndata_num=churndata.select_dtypes(exclude=["object"])

In [54]:
#Vamos a normalizar los valores numericos
from sklearn.preprocessing import StandardScaler
Standard=StandardScaler()
Standard=Standard.fit_transform(churndata_num)
churndata_num=pd.DataFrame(Standard)
churndata_num

             0         1         2         3
0    -0.439916 -1.277445 -1.160323 -0.994971
1    -0.439916  0.066327 -0.259629 -0.173876
2    -0.439916 -1.236724 -0.362660 -0.960399
3    -0.439916  0.514251 -0.746535 -0.195400
4    -0.439916 -1.236724  0.197365 -0.941193
...        ...       ...       ...       ...
7038 -0.439916 -0.340876  0.665992 -0.129281
7039 -0.439916  1.613701  1.277533  2.242808
7040 -0.439916 -0.870241 -1.168632 -0.855182
7041  2.273159 -1.155283  0.320338 -0.872777
7042 -0.439916  1.369379  1.358961  2.013917

[7043 rows x 4 columns]

In [55]:
#Concatenamos la nueva tabla con datos numericos junto con la tabla numerica original
Xc=np.concatenate((churndata_num,labels),axis=1)
Xc=pd.DataFrame(Xc)
Xc

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,-0.439916,-1.277445,-1.160323,-0.994971,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.439916,0.066327,-0.259629,-0.173876,1.0,0.0,0.0,1.0,2.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0
2,-0.439916,-1.236724,-0.362660,-0.960399,1.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
3,-0.439916,0.514251,-0.746535,-0.195400,1.0,0.0,0.0,0.0,2.0,0.0,2.0,2.0,0.0,0.0,1.0,0.0
4,-0.439916,-1.236724,0.197365,-0.941193,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,-0.439916,-0.340876,0.665992,-0.129281,1.0,1.0,1.0,1.0,2.0,0.0,2.0,2.0,2.0,2.0,1.0,0.0
7039,-0.439916,1.613701,1.277533,2.242808,0.0,1.0,1.0,1.0,0.0,2.0,2.0,0.0,2.0,2.0,1.0,0.0
7040,-0.439916,-0.870241,-1.168632,-0.855182,0.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7041,2.273159,-1.155283,0.320338,-0.872777,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7042,-0.439916,1.369379,1.358961,2.013917,1.0,0.0,0.0,1.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,0.0

In [56]:
#Separamos nuestra X y Y
X=Xc.drop([15], axis=1)
y=Xc[15]

### 1. Apply SMOTE for upsampling the data:

    #Use logistic regression to fit the model and compute the accuracy of the model.
    #Use decision tree classifier to fit the model and compute the accuracy of the model.
    #Compare the accuracies of the two models.

In [57]:
smote=SMOTE()
y=Xc[15]
X=Xc.drop([15],axis=1)
X_sm,y_sm=smote.fit_resample(X,y)
y_sm.value_counts()

0.0    5174
1.0    5174
Name: 15, dtype: int64

In [74]:
#Hacemos el split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.3, random_state=40)

In [75]:
#Aplicando modelo de regresion logistica
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
logr = linear_model.LogisticRegression()
logr.fit(X_train,y_train)

LogisticRegression()

In [76]:
#Verificando el score
logr.score(X_train,y_train)

0.7657048184453955

In [77]:
#Verificando el cv score
from sklearn.model_selection import cross_val_score
cross_val_score(logr, X_train, y_train, cv=10).mean()

0.7626700323871214

In [97]:
#Aplicando modelo de Decision Tree
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)

DecisionTreeClassifier()

In [98]:
dt.score(X_train,y_train)

0.9953775038520801

In [99]:
#Verificando el cv score
cross_val_score(dt, X_train, y_train, cv=10).mean()

0.7550055671201046

In [100]:
c={'LogisticRegresionScore':[logr.score(X_train,y_train)], 'LRCrossValidationScore':[cross_val_score(logr, X_train, y_train, cv=10).mean()],
   'DecisionTreeScore':[dt.score(X_train,y_train)], 'DTCrossValidationScore':[cross_val_score(dt, X_train, y_train, cv=10).mean()]}
comparison=pd.DataFrame(data=c)
comparison

,LogisticRegresionScore,LRCrossValidationScore,DecisionTreeScore,DTCrossValidationScore
0,0.782523,0.816214,0.995378,0.753685

### 2. Apply TomekLinks for downsampling

    #It is important to remember that it does not make the two classes equal 
    #but only removes the points from the majority class that are close to other points in minority class.
    #Use logistic regression to fit the model and compute the accuracy of the model.
    #Use decision tree classifier to fit the model and compute the accuracy of the model.
    #Compare the accuracies of the two models.
    #You can also apply this algorithm one more time and check the how the imbalance in the two classes 
    #changed from the last time.

In [101]:
from imblearn.under_sampling import TomekLinks
tomek = TomekLinks(sampling_strategy='majority', n_jobs=-1)
X_tl,y_tl=tomek.fit_resample(X,y)
y_tl.value_counts()

0.0    4622
1.0    1869
Name: 15, dtype: int64

In [102]:
#Hacemos el split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_tl, y_tl, test_size=0.3, random_state=40)

In [103]:
#Aplicando modelo de regresion logistica
logr2 = linear_model.LogisticRegression()
logr2.fit(X_train,y_train)

LogisticRegression()

In [109]:
#Verificando el score
logr2.score(X_train,y_train)

0.8203830068236848

In [110]:
#Verificando el cv score
from sklearn.model_selection import cross_val_score
cross_val_score(logr2, X_train, y_train, cv=10).mean()

0.8162138742314955

In [111]:
#Aplicando modelo de Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
dt2=DecisionTreeClassifier()
dt2.fit(X_train,y_train)

DecisionTreeClassifier()

In [112]:
dt2.score(X_train,y_train)

0.9953775038520801

In [113]:
#Verificando el cv score
cross_val_score(dt2, X_train, y_train, cv=10).mean()

0.7554485162414678

In [114]:
d={'LogisticRegresionScore':[logr2.score(X_train,y_train)], 'LRCrossValidationScore':[cross_val_score(logr2, X_train, y_train, cv=10).mean()],
   'DecisionTreeScore':[dt2.score(X_train,y_train)], 'DTCrossValidationScore':[cross_val_score(dt2, X_train, y_train, cv=10).mean()]}
comparison=pd.DataFrame(data=d)
comparison

,LogisticRegresionScore,LRCrossValidationScore,DecisionTreeScore,DTCrossValidationScore
0,0.820383,0.816214,0.995378,0.754348

In [115]:
tomek = TomekLinks(sampling_strategy='majority', n_jobs=-1)
X_tl2,y_tl2=tomek.fit_resample(X_tl,y_tl)
y_tl2.value_counts()

0.0    4469
1.0    1869
Name: 15, dtype: int64